.contents__side
  =link_to "", class: "contents__side--btn" do
    .message--top
      max
    .message--bottom
      まだメッセージはありません
  =link_to "", class: "contents__side--btn" do
    .message--top
      max
    .message--bottom
      まだメッセージはありません