.message
  .upper_message
    .body--title
      = message.user.name
    .body--message
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.body--text
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
  
