.header
  .header__title
    max
  .header__list
    .header__list-heding
      member:
    .header__list-
  .header__btn
.contents
  .contents__side
    .contents__side--head
      .contents__side--head-title
      .contents__side--head-btn
      .contents__side--head-btn
    .contents__side--body
      .contents__side--body-btn
  .contents__main
    .contents__main--body
      .contents__main--body-lead
      .contents__main--body-text
  .contents__bottom
    .contents__bottom-form
    .contents__bottom-btn-small
    .contents__bottom-btn-large
