.header__left
  .header__left--title
    = current_user.name
  =link_to edit_user_path(current_user), class: "header__left--btn-cog" do
    = fa_icon 'cog inverse'
  =link_to new_group_path, class: "header__left--btn-edit" do
    = fa_icon 'edit inverse'